h1 {
	font-family: Century Gothic, sans-serif;
	font-size: 50px;
	background: LightGray;
	text-align: center;
}

#messages {
	background: LightGray;
	font-family: Century Gothic, sans-serif;
	font-size: 15px;

}